body {
  color: var(--color-black);
  font-family: var(--font-family-base);
  font-size: var(--font-size-m);
  line-height: 1.5;
}

h1 {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-bold);
  line-height: 1.2;
}
