<!doctype html>
<html lang="{{ global.language }}">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ global.title }}</title>
    <meta name="description" content="{{ global.description }}">
    <meta name="author" content="{{ global.author }}">
    <meta name="twitter:card" value="{{ global.description }}">
    <meta property="og:title" content="{{ global.title }}">
    {# Maybe use a different type ? "article" ? #}
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ global.url }}">
    <meta property="og:description" content="{{ global.description }}">

    <link rel="stylesheet" href="/styles/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    {% block content %}
      {{ content | safe }}
    {% endblock %}
  </body>
</html>