{% extends 'layouts/slides.njk' %}

{% block slides %}
  {% for slide in collections.slides %}
    <section data-slide-index="{{ loop.index }}" class="slide slide-{{ slide.data.theme or global.defaultTheme }}">
      <div class="slide-content flow">
        {{ slide.templateContent | safe }}
      </div>

      {% if global.showSlideNumber %}
        <div class="slide-number">
          <span class="visually-hidden">Slide n°</span>
          {{ slide.data.order }}
        </div>
      {% endif %}
    </section>
  {% endfor %}
  <script src="scripts/slides.js"></script>
{% endblock %}