{% extends 'layouts/base.njk' %}

{% block content %}
<h1>Notes</h1>

Le contenu!

<p>
  slide en cours : <span id="current-slide">inconnue</span>
</p>

<button id="control-next">Next</button>

<script src="/scripts/notes.js"></script>
{% endblock %}