<header data-slide-slug="_intro_" class="Intro">
  <div class="slide-content">
    <h1 class="Intro__Title">{{ global.title }}</h1>
    <p class="Intro__Description">{{ global.description }}</p>
    <div class="Intro__Footer">
      <div class="Intro__Meta">
        <div class="Intro__Speaker">
          <span role="img" aria-label="Speaker">🎤</span>
          {{ global.author }}
        </div>

        {% if global.date %}
          <div>
            <span role="img" aria-label="Conference date">📅</span>
            <time>{{ global.date }}</time>
          </div>
        {% endif %}
      </div>
      {% if global.notes %}
        <button class="Intro__Notes button" id="openNotes">📝 Open notes</button>
      {% endif %}
    </div>
  </div>
</header>