<header data-slide-index="0" class="slide slide-intro">
  <div class="slide-content">
    <h1>{{ global.title }}</h1>
    <p>{{ global.description }}</p>
    <div class="slide-meta">
      <div class="slide-speaker">
        <span role="img" aria-label="Speaker">🎤</span>
        {{ global.author }}
      </div>
      {% if global.date %}
      <div class="slide-date">
          <span role="img" aria-label="Conference date">📅</span>
          <time>{{ global.date }}</time>
      </div>
      {% endif %}
      {% if global.notes %}
        <div class="slide-notes">
          <button id="openNotes">Open notes</button>
        </div>
      {% endif %}
    </div>
  </div>
</header>